.App {
  text-align: center;
}

.container
{
  text-align: left;
  margin-left: 15px;
  padding-left: 10px;
  
}
.add-folder
{
  height: 15px;
  width: 15px;padding-left: 10px;
}
.add-file
{
  height: 24px;
  width: 44px;padding-left: 10px;
}
.delete-folder
{
  height: 15px;
  padding-left: 10px;
  width: 15px;
}